<!-- contents start -->

<div class="sub_body">

    <!-- linemap -->
    <h2 class="page_tit">
        {{LANG_PERSONNEL_MemberManagement}}
        <span>- {{LANG_USR_ConfigDetail}}</span>
    </h2>


    <div class="table_title1150">

        <div class="table_title1150">
                <!-- li>
                        <a href="#" class="button gray medium"><b>{{AddDept}} + </b></a>
                </li-->
                <!-- <li  id="userDelete" class="button gray medium"><img src="images/img/icon_btn_img_del.png" alt="delete" style="margin-right:5px;" /><b>{{BUTTON_DELETE}}</b></li> --><!-- 오피스 앱배포 -->
                <!-- <li id="userDelete" class="button_n btn_red medium_n"><style="margin-right:5px;" />&nbsp;&nbsp;&nbsp;&nbsp;<b>{{BUTTON_DELETE}}</b></li> -->
                <!--

                                                        <li id="addUserExcel" class="button_n btn_excel medium_n">&nbsp;&nbsp;&nbsp;<img src="images/img/icon_excel.png" alt="import" style="margin-right:5px; width:14px;" /><b>{{LANG_ExcelImport}}</b></li>
                                                        <li id="btn_excel" class="button_n btn_excel medium_n">&nbsp;&nbsp;&nbsp;<img src="images/img/icon_excel.png" alt="export" style="margin-right:5px; width:14px;" /><b>{{LANG_ExcelExport}}</b></li>
                -->
                <li style="float:right;padding-right:10px;">
                    <div class="toggle toggle-modern" id="toggle" data-toggle-on="true" data-toggle-height="20" data-toggle-width="80"  style="float: left; margin-top: 1px; display: none;"></div>
                    <input type="checkbox" name="searchLike" id="searchLike" value="true" checked="checked" style="visibility: hidden;" />
                    <select id="searchID" name="">
                        <option value="all" selected>- - - - - - - -</option>
                        <option value="name">{{ManagementName}}</option>
                        <option value="username">{{UserName}}</option>
                        <option value="membernum">{{LANG_MemberNum}}</option>
                    </select>
                    <input type="text" id="input_search" name="" class="input_text" style="width:180px;">
                    <a id="btn_search"><img src="images/img/btn_view.gif" width="20" height="20" border="0" alt=""></a>
                    <select id="pageMax" name="pageMax">
                        <option value="10" selected>{{LANG_Line10}}<!-- 10줄씩 보기 --></option>
                        <option value="20">{{LANG_Line20}}<!-- 20줄씩 보기 --></option>
                    </select>
                </li>
            </ul>
        </div>

        <!-- 공지 테이블 -->
        <table id="userListTable"  cellspacing="0" cellpadding="0" summary="사용자 리스트 테이블입니다" class="board_list" width="1150">
            <caption>사용자 리스트</caption>
            <colgroup>
                <col width="50" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="150" />
                <col width="*" />
            </colgroup>
            <thead>
            <tr>
                <th>&nbsp;<!-- input type="checkbox" name="" --></th>
                <th>{{ManagementName}}</th>
                <th>{{UserName}}</th>
                <th>{{LANG_MemberNum}}</th>
                <th>{{LANG_TargetDeptName}}</th>
                <th>{{LANG_APP_CompanyName}}</th>
                <th>{{LANG_IsUse}}</th>
                <th>{{LANG_Unlock}}</th>
                <th>{{LANG_Detail}}</th>
            </tr>
            </thead>

            <tbody id="userList"></tbody>
        </table>



        <!-- 삭제, 편집 -->
        <div class="table_bot870" style="padding-top:3px;">
            <ul>
                <li>
                    <!-- 버튼 sample -->
                </li>
                <li style="float:right;padding-right:20px;">

                </li>
            </ul>
        </div>

        <!-- 페이징 -->
        <div class="paginate" id="pager">
        </div>
    </div>
    <!--   end -->

</div>